$primary-color: #2b7dca;
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url(../img/bg.jpg) center no-repeat;
$background-opacity: 0.8;

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        // background: rgba($primary-color, $background-opacity);
        z-index: -1;
      }
    }
  }
}

// set text color

@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// media query mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 1098px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 1099px) and (max-width: 1170) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
