@import "config";
@import "menu";

* {
  box-sizing: border-box;
}
body {
  @include background;
  background: set-text-color($primary-color);
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

// headings

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  width: auto;
  max-width: 100%;

  &.lg-heading {
    font-size: 3.5rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 4), 0.5);
    color: set-text-color($primary-color);
    height: auto;
  }
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

header#navbar {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
  height: auto;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);
  background: $primary-color;

  .icons {
    margin-top: 2rem;
    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        transform: scale(3.1);
        @include easeOut;
      }
    }
  }

  &#welcome-section {
    overflow: none;
    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  text-align: center;
  display: grid;
  grid-gap: 25px;
  grid-template-areas:
    "bioimage bioimage"
    "bio bio"
    "job1 job1"
    "job2 job2";

  grid-template-columns: repeat(2, 1fr);

  .bioimage {
    background: url(../img/portrait-small.jpg);
    background-size: cover;
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: 2px solid $secondary-color;
    width: 200px;
    height: 200px;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job1 {
    grid-area: job1;
  }

  .job2 {
    grid-area: job2;
  }

  .job {
    background-color: lighten($primary-color, 10);
    padding: 5px 10px;
    border-radius: 4px;
    border-bottom: solid 3px $secondary-color;
    // box-shadow: 0 10px 15px #444;
  }
}

// projects

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(2, 1fr);

  .project-tile {
    .project-preview {
      background-color: darken($primary-color, 5);
      box-shadow: 0 10px 25px black;

      .project-description {
        padding: 5px 10px;
        border-bottom: solid 3px $secondary-color;
        margin-bottom: 0.5rem;
      }

      img {
        width: 100%;
        padding: 0;
        border: 3px solid white;

        &:hover {
          opacity: 0.5;
          border-color: $secondary-color;
          @include easeOut;
        }
      }
    }
  }
}

// contact me

.contactme {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 30rem;

    .input-container {
      display: flex;
      width: 100%;
      height: auto;
      margin-bottom: 1rem;

      .icon {
        padding: 10px;
        background: darken($primary-color, 30);
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      .input-field {
        width: 100%;
        padding: 10px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        font-family: lato;
        font-size: 1rem;
        border: none;
        outline: 0;

        &:focus,
        &:hover {
          border: 3px solid $secondary-color;
        }
      }

      textarea {
        height: 10rem;
        border-radius: 4px;
        font-family: Lato;
      }
    }
  }

  #submit {
    padding: 1.5rem;
    font-size: 1.5rem;
    border-radius: 5px;
    margin-top: 1rem;
  }
}

// button styles

.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  box-shadow: 0 10px 25px black;
  cursor: pointer;

  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 30);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 40);
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 5);
  height: 60px;
}

@import "mobile";
